<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/RMajewski">
            	<span class="icon icon--github">{% include icon-github.svg %}</span>
            	<span class="username">RMajewski</span>
        	</a>
          </li>
          
          <li>
            <a href="https://twitter.com/TerraGermany">
            	<span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
            	<span class="username">TerraGermany</span>
        	</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
