<footer class="footer">
  <div class="wrapper">
      <div class="footer-col">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/RMajewski">
            	<span class="icon icon--github">{% include icon-github.svg %}</span>
            	<span class="username">RMajewski</span>
        	</a>
          </li>
          <li>
            <a href="https://twitter.com/TerraGermany">
            	<span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
            	<span class="username">TerraGermany</span>
        	</a>
          </li>
        </ul>
      </div>
  </div>
</footer>
